{{template "header.html" .}}
{{template "navi-bar.html" .}}
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Activity Register <small>Input your activity.</small></h1>
				<div class="col-lg-6 col-md-8 col-sm-10">
					{{template "flash.html" .}}
					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-edit fa-fw"></i> Input Form
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<fieldset>
								<form action="/activity/confirm" name="activity" method="POST">
									<div class="form-group">
										<label class="form-label">Date</label>
										<p>{{.form.Date.Format "2006/01/02"}}</p>
									</div>
									<div class="form-group">
										<label class="form-label">Task's type</label>
										<p>{{.form.TaskName}}</p>
									</div>
									<div class="form-group">
										<label class="form-label">Content</label>
										<p>{{.form.ContentName}}</p>
									</div>
									{{if eq .form.UnitId 2}}
									<div class="form-group">
										<label for="point" class="form-label">Working Time</label>
										<ul class="list-inline">
											<li>
												<input id="workingTime" class="form-control" placeholder="1" name="workingTime" type="text" value="{{.form.WorkingTime}}" onchange="timeChanged()" style="width:60px;">
											</li>
											<li>
												<label>分</label>
											</li>
										</ul>
									</div>
									{{end}}
									<div class="form-group">
										<label for="point" class="form-label">Point</label>
										<ul class="list-inline">
											<li>
												<input id="point" class="form-control" placeholder="1.0" name="point" type="text" value="{{.form.Point}}" style="width:60px;">
											</li>
											<li>
												<label>pt</label>
											</li>
										</ul>
									</div>
									<div class="form-group">
										<label for="comment" class="form-label">Comment(TODO)</label>
										<textarea id="comment" class="form-control" name="comment" rows="3"></textarea>
									</div>
									<a href="/index" class="btn btn-outline btn-default">Back</a>
									<input type="submit" class="btn btn-outline btn-primary" value="Register">
								</form>
							</fieldset>
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.row -->
		{{if eq .form.UnitId 2}}
		<script type="text/javascript">
			function timeChanged() {
				var time = document.getElementById('workingTime').value
				var point = {{.form.PointParMinute}}
				document.getElementById('point').value = point * time
			});
			window.onload = timeChanged;
		</script>
		{{end}}
{{template "footer.html" .}}