{{template "header.html" .}}
{{template "navi-bar.html" .}}
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Goal Register</h1>
				<div class="col-lg-6 col-md-8 col-sm-10">
					<div class="panel-heading">
						<h3 class="panel-title">Please input your goal.</h3>
					</div>
					<div class="panel-body">
						{{template "flash.html" .}}
						<fieldset>
							<form action="/goal/register" method="POST">
								<ul class="list-inline">
									<li>
										<div class="form-group">
											<label for="year" class="form-label">Year</label>
											<select id="year" class="form-control" name="year">
												{{$y := .form.Year}}
												{{range .form.YearList}}
												<option value="{{.}}" {{if eq $y .}} selected {{end}}>{{.}}</option>
												{{end}}
											</select>
										</div>
									</li>
									<li>
										<div class="form-group">
											<label for="month" class="form-label">Month</label>
											<select id="month" class="form-control" name="month">
												{{$m := .form.Month}}
												{{range .form.MonthList}}
												<option value="{{.}}" {{if eq $m .}} selected {{end}}>{{.}}</option>
												{{end}}
											</select>
										</div>
									</li>
								</ul>
								<ul class="list-inline">
									<li>
										<div class="form-group">
											<label for="coding" class="form-label">Coding</label>
											<div class="input-group" style="width:120px;">
												<input id="coding" class="form-control" name="coding" type="text" value="{{.form.Coding}}">
												<span class="input-group-addon">pt</span>
											</div>
										</div>
									</li>
									<li>
										<div class="form-group">
											<label for="training" class="form-label">Training</label>
											<div class="input-group" style="width:120px;">
												<input id="training" class="form-control" name="training" type="text" value="{{.form.Training}}">
												<span class="input-group-addon">pt</span>
											</div>
										</div>
									</li>
									<li>
										<div class="form-group">
											<label for="housework" class="form-label">HouseWork</label>
											<div class="input-group" style="width:120px;">
												<input id="housework" class="form-control" name="housework" type="text" value="{{.form.HouseWork}}">
												<span class="input-group-addon">pt</span>
											</div>
										</div>
									</li>
								</ul>
								<input type="hidden" name="new" value="{{.form.New}}">
								<div class="form-group">
									<label class="checkbox-inline">
										<input type="checkbox" name="continue" value="1" {{if .form.New}}checked{{end}}>
										Please check if you want to update all months after inputted month.
									</label>
								</div>
								<input type="hidden" name="new" value="{{.form.New}}">
								<a href="/goal/list" class="btn btn-outline btn-default">Back</a>
								{{if $.form.New}}
								<input type="submit" class="btn btn-outline btn-primary" value="Register">
								{{else}}
								<input type="submit" class="btn btn-outline btn-primary" value="Update">
								{{end}}
							</form>
						</fieldset>
					</div>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.row -->
{{template "footer.html" .}}