{{template "header.html" .}}
{{template "navi-bar.html" .}}
<!-- Morris Charts JavaScript -->
<script src="/assets/bower_components/raphael/raphael-min.js"></script>
<script src="/assets/bower_components/morrisjs/morris.min.js"></script>
	<div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashboard</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-github fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div>
									<span>Now </span>
									<span class="huge">{{.form.Now.Coding}}</span>
									<span>pt</span>
								</div>
								<div>
									<span>Goal </span>
									<span class="huge">{{.form.Goal.Coding}}</span>
									<span>pt</span>
								</div>
							</div>
						</div>
					</div>
					<a href="/activity/register/typeId=1">
						<div class="panel-footer">
							<span class="pull-left">Register Acitvity</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
					<a href="/activity/inquiry/typeId=1">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-green">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-futbol-o fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div>
									<span>Now </span>
									<span class="huge">{{.form.Now.Training}}</span>
									<span>pt</span>
								</div>
								<div>
									<span>Goal </span>
									<span class="huge">{{.form.Goal.Training}}</span>
									<span>pt</span>
								</div>
							</div>
						</div>
					</div>
					<a href="/activity/register/typeId=2">
						<div class="panel-footer">
							<span class="pull-left">Register Acitvity</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
					<a href="/activity/inquiry/typeId=2">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="panel panel-yellow">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-3">
								<i class="fa fa-shopping-cart fa-4x"></i>
							</div>
							<div class="col-xs-9 text-right">
								<div>
									<span>Now </span>
									<span class="huge">{{.form.Now.HouseWork}}</span>
									<span>pt</span>
								</div>
								<div>
									<span>Goal </span>
									<span class="huge">{{.form.Goal.HouseWork}}</span>
									<span>pt</span>
								</div>
							</div>
						</div>
					</div>
					<a href="/activity/register/typeId=3">
						<div class="panel-footer">
							<span class="pull-left">Register Acitvity</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
					<a href="/activity/inquiry/typeId=3">
						<div class="panel-footer">
							<span class="pull-left">View Details</span>
							<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
							<div class="clearfix"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bar-chart-o fa-fw"></i> Points Chart (This Month)
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div id="morris-bar-chart"></div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-8 -->
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bar-chart-o fa-fw"></i> Graph
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<ul class="graph-menu">
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Coding</strong>
											<span class="text-muted" style="margin-left:30px;">{{.form.Rate.Coding}}% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{.form.Rate.Coding}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.form.Rate.Coding}}%">
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>Training</strong>
											<span class="text-muted" style="margin-left:30px;">{{.form.Rate.Training}}% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{.form.Rate.Training}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.form.Rate.Training}}%">
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>HouseWork</strong>
											<span class="text-muted" style="margin-left:30px;">{{.form.Rate.HouseWork}}% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{.form.Rate.HouseWork}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.form.Rate.HouseWork}}%">
											</div>
										</div>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<p>
											<strong>All Tasks</strong>
											<span class="text-muted" style="margin-left:30px;">{{.form.Rate.Total}}% Complete</span>
										</p>
										<div class="progress progress-striped active">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{.form.Rate.Total}}" aria-valuemin="0" aria-valuemax="100" style="width: {{.form.Rate.Total}}%">
											</div>
										</div>
									</div>
								</a>
							</li>
						</ul>
						<!-- /.dropdown-tasks -->
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-bell fa-fw"></i> Announce
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="list-group">
							<a href="#" class="list-group-item">
								<i class="fa fa-calendar fa-fw"></i> New Activity
									<span class="pull-right text-muted small"><em>4 Activities</em>
									</span>
							</a>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->
		<script>
			$(function() {
				Morris.Bar({
					element: 'morris-bar-chart',
					data: [{
						y: 'Coding',
						a: {{.form.Kaoru.Coding}},
						b: {{.form.Yuri.Coding}}
					}, {
						y: 'Training',
						a: {{.form.Kaoru.Training}},
						b: {{.form.Yuri.Training}}
					}, {
						y: 'HouseWork',
						a: {{.form.Kaoru.HouseWork}},
						b: {{.form.Yuri.HouseWork}}
					}, {
						y: 'Total',
						a: {{.form.Kaoru.Total}},
						b: {{.form.Yuri.Total}}
					}],
					xkey: 'y',
					ykeys: ['a', 'b'],
					labels: ['Kaoru', 'Yuri'],
					hideHover: 'auto',
					resize: true,
					barColors: ['rgb(31,92,183)','rgb(91,184,121)'],
				});
			});
		</script>
{{template "footer.html" .}}